body {
  padding-top: 80px;
  display: block;
}
.gradient {
  background: rgb(73, 62, 255);
  background: linear-gradient(
    135deg,
    rgba(73, 62, 255, 1) 0%,
    rgba(224, 169, 241, 1) 0%,
    rgba(58, 195, 223, 1) 100%
  );
}
.nav-link {
  color: white;
  font-size: large;
}
