<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="{{url_for('static',filename='bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='student panel.css')}}"
    />

    <title>Vaccine</title>
  </head>
  <body>
    <section>
      <nav class="navbar navbar-expand fixed-top gradient">
        <h6>Welcome {{name}}</h6>
        <div class="container justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/panel">Home</a>
            </li>
            <li class="nav-item" role="presentation">
              <button
                onclick='location.href="/logout"'
                type="button"
                class="btn"
              >
                Logout
              </button>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <!-- Optional JavaScript; choose one of the two! -->
    <section>
      <div class="container table-responsive">
        <form action="/edit" method="POST">   
        <table class="table table-striped table-bordered text-center">
          <tr>
            <th>Age(m)</th>
            <th>Vaccine Name</th>
            <th>Hospitals</th>
            <th>Select</th>
            <th>De Select</th>
          </tr>
          {% for data in vaccine_val %}
          <tr style="vertical-align: middle">
            <td rowspan="{{data['Vaccine_name']|length+1}}">{{ data['age'] }}</td>
            {% for i in data["Vaccine_name"] %}
              {% if i not in done %}
                <tr>
                  <td>{{ i }}</td>
                  <td>
                    {% if i in vac_hsp %}
                      {% for j in vac_hsp[i] %}
                        <button class="btn" name="hsp_info_name"  type="submit" value ="{{ j[0] }}">{{ j[1]}}</button>
                      {% endfor %}
                    {% else %}
                      Not available
                    {% endif %}
                  </td>
                  <td>
                    <input type="checkbox" name="mycheckbox" value="{{i}}"  />
                  </td>
                  <td>
                    <input type="checkbox" name="mycheckbox_un" value="{{i}}"  disabled />
                  </td>
                </tr>
              {% else %}
              <tr>
                <td><del>{{ i }}</del></td>
                <td>
                  {% if i in vac_hsp %}
                    {% for j in vac_hsp[i] %}
                      <button class="btn" name="hsp_info_name" type="submit" value ="{{ j[0] }}"><del>{{ j[1] }}</del></button>
                    {% endfor %}
                  {% else %}
                    <del>Not available</del>
                  {% endif %}
                </td>
                <td>
                  <input type="checkbox" name="mycheckbox" value="{{i}}" disabled />
                </td>
                <td>
                  <input type="checkbox" name="mycheckbox_un" value="{{i}}"   />
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tr>

          {% endfor %}
        </table>
        <div class="float-right">
          <button type="submit"  class="btn btn-primary float-right">Save Changes</button>
        </div>
        
      </form>
      </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
